@model IEnumerable<TeginderpalD_301093892.Models.Faculty>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="panel-body">
        <h1>FACULTY</h1>

        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TeginderpalD_301093892.Models.Faculty r in Model)
                {
                <tr>
                    <td>@r.FacultyName</td>
                    <td>@r.FacultyDepartment</td>
                    <td>@r.FacultyCourse</td>
                    <td>@r.FacultyPhone</td>
                    <td>@r.FacultyEmail</td>
             
                </tr>
                }
            </tbody>
        </table>

        <p>Click <a class="nav-link" asp-action="Index">here</a> to go back to the Home Page</p>
    </div>
</body>
</html>
